<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Asl -->
      <package
            uri="http://ASL/1.0"
            class="eclipse.emf.abmodel.model.abmodel.AbmodelPackage"
            genModel="model/Asl.genmodel"/>
   </extension>

</plugin>
